.head {
  display: flex;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.title {
  display: block;
  width: 300px;
  border: 1px solid black;
  padding: 10px 1px;
  text-transform: uppercase;
  text-align: center;
  background-color: turquoise;
}
.position {
  display: flex;
}
